<div class="app" #appBody>
    <p-toolbar class="toolbar">
        <div class="p-toolbar-group-left">
            <p-button type="text" (click)="showSidebar()" icon="pi pi-bars" styleClass="p-button-secondary"></p-button>

            <div class="titulo">{{title}}</div>
        </div>

        <div class="p-toolbar-group-right">
            <p-button icon="pi pi-search"></p-button>
            <p-button icon="pi pi-calendar" styleClass="p-button-success"></p-button>
            <p-button icon="pi pi-times" styleClass="p-button-danger"></p-button>
        </div>
    </p-toolbar>

    <div class="app-body">
        <p-sidebar class="sidebar" [(visible)]="displaySidebar" [modal]="false" [autoZIndex]="false" [showCloseIcon]="false">
            <div class="sidebar-content">
                <app-menu></app-menu>
                <div class="sidebar-footer">
                    v1.0.0 - 2022 -&nbsp;
                    <a href="https://github.com/mbpx/fractalizer">ver repo en github</a>
                </div>
            </div>
        </p-sidebar>

        <router-outlet></router-outlet>
    </div>
</div>